In [170]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [223]:
import os
import numpy as np
import pandas as pd
import models.baselinelgb as lgb
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [188]:
app_train = pd.read_csv('../input/application_train.csv')
print('Training data shape: ', app_train.shape)
app_test = pd.read_csv('../input/application_test.csv')
print('Testing data shape: ', app_test.shape)

Training data shape:  (307511, 122)
Testing data shape:  (48744, 121)

In [190]:
training_data = app_train.dropna(axis='columns')
training_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,Working,...,0,0,0,0,0,0,0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,State servant,...,0,0,0,0,0,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,Working,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,Working,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,Working,...,0,0,0,0,0,0,0,0,0,0

In [191]:
testing_data = app_test.dropna(axis='columns')
testing_data.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_GOODS_PRICE,NAME_INCOME_TYPE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,450000.0,Working,...,0,0,0,0,0,0,0,0,0,0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,180000.0,Working,...,0,0,0,0,0,0,0,0,0,0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,630000.0,Working,...,0,0,0,0,0,0,0,0,0,0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,1575000.0,Working,...,0,0,0,0,0,0,0,0,0,0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,625500.0,Working,...,0,0,0,0,0,0,0,0,0,0

In [236]:
y = training_data['TARGET']

# Remove the feature_labels and target
X = training_data.drop(columns=['SK_ID_CURR', 'TARGET'])
test_ids = testing_data['SK_ID_CURR']
X_submit = testing_data.drop(columns=['SK_ID_CURR'])

# One hot encode features
X = pd.get_dummies(X)
X_submit = pd.get_dummies(X_submit)

# Align the dataframes by the columns
X, X_submit = X.align(X_submit, join='inner', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

scaler = preprocessing.MinMaxScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Extract feature names
feature_names = list(X.columns)

# Convert to np arrays
X = np.array(X)
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)
# Final data
X_submit = np.array(X_submit)

In [237]:
X_train

array([[0.        , 0.0372079 , 0.184     , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.00812356, 0.11572921, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.01714973, 0.03370787, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.04723699, 0.26966292, ..., 0.        , 0.        ,
        0.        ],
       [0.07142857, 0.01714973, 0.05617978, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.01464246, 0.17098427, ..., 0.        , 0.        ,
        0.        ]])

In [238]:
[y_train.sum() / y_train.shape[0], y_test.sum() / y_test.shape[0]]

[0.08060225683717602, 0.0808553812534145]

In [239]:
# assert not np.any(np.isnan(X_train))
# X_train[np.isnan(X_train)] = 0
# X_test[np.isnan(X_test)] = 0

In [240]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [267]:
model = Sequential()
model.add(Dense(256, input_dim=139, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

In [268]:
import tensorflow as tf
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[tf.keras.metrics.AUC()])

In [269]:
model.fit(X_train, y_train, epochs=20, batch_size=100)

Epoch 1/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2826 - auc_3: 0.6064
Epoch 2/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2748 - auc_3: 0.6310
Epoch 3/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2719 - auc_3: 0.6424
Epoch 4/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2701 - auc_3: 0.6509
Epoch 5/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2691 - auc_3: 0.6559
Epoch 6/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2675 - auc_3: 0.6644
Epoch 7/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2668 - auc_3: 0.6685
Epoch 8/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2658 - auc_3: 0.6738
Epoch 9/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2643 - auc_3: 0.6811
Epoch 10/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2632 - auc_3: 0.6871
Epoch 11/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2621 - auc_3: 0.6921
Epoch 12/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2607 - auc_3: 0.6999
Epoch 13/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2598 - auc_3: 0.7040
Epoch 14/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2587 - auc_3: 0.7082
Epoch 15/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2572 - auc_3: 0.7153
Epoch 16/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2564 - auc_3: 0.7181
Epoch 17/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2547 - auc_3: 0.7249
Epoch 18/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2539 - auc_3: 0.7282
Epoch 19/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2525 - auc_3: 0.7332
Epoch 20/20
1538/1538 [==============================] - 3s 2ms/step - loss: 0.2511 - auc_3: 0.7384

In [270]:
y_predict = np.round(model.predict(X_test))

In [271]:
# y_predict = model.predict(X_test)
valid_auc = roc_auc_score(y_test, y_predict)
print(valid_auc)

0.5000119150343103

In [272]:
#print(metrics.roc_auc_score(y_test, y_predict))
print(metrics.precision_score(y_test, y_predict))
print(metrics.recall_score(y_test, y_predict))
print(metrics.accuracy_score(y_test, y_predict))
metrics.confusion_matrix(y_test, y_predict)

0.1111111111111111
8.043758043758043e-05
0.9190990920679518

array([[141316,      8],
       [ 12431,      1]])